<div class="container">
  <div class="row">
    <div class="col-md-12" id="projects_list">
        <div class="text-center">
          <h3><b>  SIMPLE TODO LIST </b></h3>
          <h5 >FROM RUBY GARAGE</h5>
        </div>
       <% @projects.each do |project| %>
         <%= render project %>
       <% end %>
    </div>

   <div class="text-center">
     <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_prod" >ADD TODO List</a>
   </div>
   
   <%= render 'form' %>
  </div>
</div>


